select {
  display: none;
}

.PhoneInputCountry {
  position: absolute;
}

.PhoneInputCountrySelectArrow {
  display: none;
}

.PhoneInputCountryIcon {
  display: none;
  opacity: 0;
}

.PhoneInputCountryIcon--border {
  opacity: 1;
}