@use '@styles' as *;

.hero {
  padding-top: 20vh;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

@media (min-width: 1920px) {
  .hero {
    padding-bottom: 30vh
  }

  .content {
    gap: 10vh;
  }
}

@media (max-width: 1280px) {
  .hero {
    padding-top: 15vh;
  }
}

@media (max-width: 920px) {
  .hero {
    padding-top: 10vh;
  }

  .content {
    gap: 5vh;
  }
}