@use '@styles' as *;

.project {
  background: var(--color-body-bg);
  color: var(--color-body);
  border: 1px solid var(--color-body);
  border-radius: 28px;

}

.projectSlider {
  @extend .project;
  width: 75%;
  margin: 0 auto;

  @media(max-width: 920px) {
    width: 100%;
  }
}

.image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--color-body);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  text-align: center;
  color: var(--color-body);
  padding-block: 1vh;
}