@use '@styles' as *;

.button {
  display: flex;
  align-items: center;
  gap: 0.1vw;

  a {
    color: var(--color-body-bg);
    background: var(--color-body);
    padding: 1vw 2vw;
  }

  :nth-child(1) {  // Left side
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
  }
  
  :nth-child(3) {  // Right side
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
  }
}

@media (max-width: 920px) {
  .button {
    gap: 0.3vw;

    a {
      padding: 2vw 3vw;
    }

    svg {
      width: 1.5vw;
      height: auto;
    }
  }
}

@media (max-width: 560px) {
  .button {
    a {
      padding: 3vw 4vw;
    }
  }
}